*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
#logo img{ 
   
   height: 50px; 
   object-fit: cover;
   border-radius: 60px;
   margin:10px 10px;
}
#logo{
    
}
#main{
    display: flex;
    border: 2px solid gray;
    background-color: rgb(10, 9, 9);
    border-radius: 80px;
    
}
#nav li{
    list-style: none;
}
#nav li a{
    color:white;
    text-decoration: none;
    
    margin: 0px 50px;

}
#nav li a:hover{
color: cyan;
border-right: 2px solid cyan;
padding-right: 10px;

}
#snav {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    height: 11.8%;
    align-items: center;
    
width: 94%;
    
    position: absolute;
    
}

/* responsive code area  */
@media only screen and (max-width: 455px) {

    #main{
        display: flex;
        border: 2px solid gray;
        background-color: rgb(10, 9, 9);
        /* border-radius: 20px; */
        width: 100%;
    }

    #logo img{ 
   
        height: 30px; 
        object-fit: cover;
        border-radius: 10px;
        margin:5px 5px;
     }

     #nav li a{
        color:white;
        text-decoration: none;
        
        margin: 0px 10px;
    
    
     }
      #snav {
        /* border: 2px solid red;   */
        display: flex;
        flex-direction: row;
        padding-left: 22px;
     position: absolute;
    align-items:center ;
     
    padding-top: 10px;
    height: 35px;
    width: 80%;
    }
}

/* video section code */
#video-parent{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}
.child{
    border: 2px solid rgb(228, 254, 228);
    height: 250px;
    width: 350px;
    margin:40px 0px;
    border-radius: 20px;
}
.title{
    /* border: 1px solid blue; */
    /* height: 20px; */
    width:350px ;
    position: absolute;
    /* margin-top:0px; */
    margin-left: -2px;
    padding-left: 20px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
animation-name: light;
animation-duration: 10s;
animation-iteration-count: infinite;
}
@keyframes light {
    0%{border: 0.1px solid red;

    }
    2%{border: 1px dotted rgb(93, 245, 11);

    }
    4%{border: 1px double rgb(12, 12, 96);

    }
    6%{border: 1px dotted rgb(130, 214, 85);

    }
    8%{
        transform: rotate(-1deg);
        background-color: aqua;
        border-radius: 13px;
    }

    
}
.embad{
    
    border: 2px hidden rgb(15, 183, 239);
    border-radius: 20px;


}